<?php
// config.php

// Глобальные переменные
$DB_HOST = '127.0.0.1';       // IP-адрес сервера БД
$DB_USER = 'root';            // Имя пользователя
$DB_PASS = 'password';        // Пароль
$DB_NAME = 'my_database';     // Имя базы данных
?>
